{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container border">
    Home Controller
</div>

    <div class="container mt-3">
        <div id="editor">
            <p>Content</p>

        </div>
    </div>



{% endblock %}
{% block javascript %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.0/main.css" integrity="sha256-i907euclfcA9Lsr5vVGfyb6woFJrVA17Vpg8BnSvPts=" crossorigin="anonymous">

{% endblock %}