{% extends 'base.html.twig' %}

{% block title %}Hello CalenderController!{% endblock %}

{% block body %}


<div class="container">

    <div id="calendar">

    </div>

</div>
    <div id="calendar_data" class="hidden">
        {{ data }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
